strong {
    font-weight: 700;
}

.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.presentation > div {
    padding: 2rem;
}

.presentation > img {
    object-fit: cover;
    padding: 0rem;
}

p {
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 300;
}

.expositions {
    padding: 2rem;
    width: 80%;
    /* margin: 0 auto; */
    font-weight: 300;
    font-size: 1.4rem;
    /* text-align: justify; */
}

.expositions > h1 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.expositions > h2 {
    margin-top: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

@media (min-width: 960px) {
    .presentation {
        flex-direction: row;
    }
    .presentation > img {
        padding: 2rem;
    }
}
@media (min-width: 750px) {
    .expositions {
        width: 50%;
    }

}
